* {
  box-sizing: border-box;
}

#container {
  display:flex;
  /* height: 100%;  why is this not making the container extend the full height? */
  height: 600px;
}

#sidebar {
  flex: 0 0 25%;
  margin-left:5%;
}

#content {
 margin-top:110%;
 /* Think this is going as 110% of itself, not of its parent element. */
}

#chart {
  flex:1;
}

h1 {
  margin:0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align:left;
  font-size:24px;
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align:left;
  color:#BDB8B0;
  font-size:18pt;
}
  
p {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  width: 100%;
  text-align:left;
  line-height:150%;
  color:black;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover{
  text-decoration:underline;
}

