* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
}


body {
  width:100%;
  background-image: url("/homework/08-28/images/pansypattern.jpg");
  background-color: #cccccc;
  /* width: 100%; */
  background-size: cover;
 }

 .text {
  position:absolute;
  font-family: "Courier New", Courier, monospace;
  background-color:#f4eee1;
  outline:2px solid #8B8589;
  color:black;
  margin-top:5%;
  margin-bottom:5%;
  margin-left: 10%;
  width:60%;
  height:85%;
  z-index:3;
}

.message{
  position:absolute;
  color:black;
  margin-top:5%;
  margin-bottom:7%;
  margin-left: 12%;
  width:55%;
  height:70%;
  z-index:4;
}

h1 {
  font-family: Roboto, Courier;
  font-size: 30px;
  letter-spacing: 0.1em;
  font-weight:lighter;
}



p {
  margin-top:5px;
  font-family: Roboto, 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height:1.7;
  letter-spacing: 0.1em;
  font-weight:normal;
}

